@import "common";


html,
body {
  margin: 0;
  padding: 0;
  @include sm {
    height: 100%;
  }
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;

  @include md {
    overflow: hidden;
  }
}

.container {
  display: flex;
  flex-direction: column;

  @include xl {
    height: 100%;
    flex-direction: row;
  }
}

.branding {
  width: 100%;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  background-color: $pcgw-blue;

  .logo {
    text-align: center;
    height: auto;
    width: 75%;
    max-width: 300px;
    img {
      width: 100%;
    }

    img.desktop {
      display: none;
    }

    img.mobile {
      display: inline;
    }
  }

  @include xl {
    // height: 100%;
    max-width: 300px;
    padding: 10px;
    .logo {
      img.desktop {
        display: inline;
      }

      img.mobile {
        display: none;
      }
    }
  }
}

// .content-wrapper {
//   height: 100%;
// 	display: inline-block;
// 	vertical-align: top;
//   overflow: auto;
// }

.content {
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content-wrapper {
    margin: auto;
  }
}

.page-title {
  margin: 0 auto;
  text-align: center;
}

.page-content {
  text-align: center;

  @include sm {
    width: 100%;
  }
}

.alert {
  width: 90%;
  max-width: 500px;
  margin: 10px auto;
  padding: .25em 0;
  line-height: 1.5em;
  box-sizing: border-box;

  @include md {
    width: 95%;
  }
}

.alert-error {
}

form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  label {
    height: 90%;
    margin: 5px auto;
    width: auto;
    text-align: left;
  }

  input {
    height: 32px;
    width: 90%;
    padding: 5px;
    margin: 5px auto;
    box-sizing: border-box;
    display: inline-block;
  }

  input[type="text"], input[type="password"] {
    font-size: 16px;
  }

  input[type="checkbox"] {
    min-height: 100%;
    margin: 0;
    width: auto;
    vertical-align: middle;
  }

  input[type="submit"] {
    margin-bottom: 0;
    font-size: 1em;
    border: 1px solid #d6d6d6;
    background-color: $pcgw-blue;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }

  .splitbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    white-space: nowrap;

    div {
      margin: 5px 0;
    }
  }

  @include md {
    input {
      width: 95%;
    }

    label {
      width: 95%;
    }

    .splitbox {
      flex-direction: row;
      width: 95%;

      div {
        margin: auto;
      }
    }
  }
}

div.social-providers {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

ul.social-providers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  li {
    box-sizing: border-box;
    margin: 5px auto;
    padding: 5px;
    width: 90%;
    border: 1px solid #d6d6d6;
    background-color: $pcgw-blue;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    a {
      color: black;
      line-height: 0;
      flex-grow: 0;

      img {
        //display: inline-block;
        vertical-align: middle;
        height: 1em;
        margin-right: 5px;
      }
    }

    @include md {
      width: 95%;
    }
  }
}

.page-post {
  margin: 10px auto;
  width: 90%;
  display: flex;
  flex-direction: column;

  @include lg {
    margin-top: 64px;
    flex-direction: row;
    justify-content: space-between;

    .page-post-item {
      width: 32%;
      padding: 14px 14px 10px 14px;
      box-sizing: border-box;
      h2 {
        font-size:110%;
        margin: 0;
        padding: 0;
        // border-bottom: 1px grey solid;
        text-align: left;
      }
      p {
        padding: 0;
        text-align: left;
      }
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

.g-recaptcha > div:nth-child(1) {
  margin: auto;
}
